p{
    font-size: 30px;
}
.text-teal{
    color: #00D5D5;
}
.navbackground{
    background-color: #181717;
}
.headbackground{
    background-color: #000000;
}
.navbar-nav {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-nav .nav-link {
  text-align: left; /* ensure left-aligned text */
  flex-grow: 0;     /* prevent links from growing */
  flex-shrink: 0;   /* prevent shrinking */
}
.spacing{
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 2rem;
}
.cardsize{
    width: 18rem;
}
.imgheight{
    height: 20rem;
}
@media screen and (max-width: 769px) {
    .container-fluid iframe{
        height: 200px;
    }
  p{
    font-size: 20px;
  }
  .spacing{
    margin-top: 3rem;
    margin-left: 3rem;
  }
<<<<<<< HEAD
=======
}
@media screen and (min-width: 1300px) {
  .spacing{
    margin-top: 3rem;
    margin-left: 15rem;
  }
}
>>>>>>> 7103197bb7b2dc81938a239a252c2104f7d7a5b9
