p{
    font-size: 40px;
}
.text-teal{
    color: #00D5D5;
}
.navbackground{
    background-color: #181717;
}
.headbackground{
    background-color: #000000;
}
.video-size{
    width: 50%;
    height: auto;
}
.navbar-nav {
  max-width: 768px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar-nav .nav-link {
  text-align: left; /* ensure left-aligned text */
  flex-grow: 0;     /* prevent links from growing */
  flex-shrink: 0;   /* prevent shrinking */
}
.topspacing{
    margin-top: 10rem;
}
.cardsize{
    width: 18rem;
}
.imgheight{
    height: 20rem;
}
@media screen and (max-width: 761250px) {
  
}